{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">

{{ partial "sidebar.html" . }}

  <div class="content container">
    <div style="font-style:italic; color:#ccc; text-align:right; margin-bottom: 2rem;">{{ .Site.Params.motto }}</div>
    <div class="posts-list">
        {{ range .Data.Pages.GroupByDate "2006" }}
        <h2>{{ .Key }}</h2>
          <ul>
            {{ range .Pages }}
            <li><span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list">{{ .Date.Format "01-02" }}</time></span></li>
            {{ end }}
          </ul>
        {{ end }}
    </div>
  </div>
</body>
</html>
